.container-todoform {
  background-color: rgba(32, 35, 41, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.textarea {
  width: 250px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.todoform {
  display: flex;
  flex-direction: column;
  background-color: #526d82;
  width: 300px;
  height: 200px;
  padding: 20px;
}
.titulo {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Press Start 2P", system-ui;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.TodoForm-button {
  width: 100px;
  padding: 5px;
  border-radius: 50px;
  border: none;
}

.TodoForm-Button-cancel {
  background-color: #b9b9b9;
  color: #494949;
}

.TodoForm-Button-add {
  background-color: #48b5fd;
  font-weight: bolder;
  color: white;
}
